@using Web.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Web</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
     
    <link rel="manifest" href="~/manifest/manifest.json">


    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill@21_2/dist/dx-quill.min.js"></script> *@

    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

    @*<script src="~/js/devextreme/dx.all.js"></script>*@

    <!-- project css file  -->
    <link rel="stylesheet" href="~/assets/css/ebazar.style.min.css">

    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Site.css" />
    <script src="~/js/vendor.js" asp-append-version="true"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script>
        $.get('/Home/Menus')
            .done(data=>{
               data.forEach((item,index)=>{
                   $(".menus").append('<li><a class="m-link" href="'+item.Url+'"><span >'+item.Text+'</span></a></li>');
                   $(".menus2").append('<a class="" href="'+item.Url+'"><span >'+item.Text+'</span></a>');
               })
            })
            $.get('/Home/UserData')
            .done(data=>{
               $("#userFullName").text(data.FullName)
               $("#userEPosta").text(data.EPosta)
               if(data.Avatar != null)
               $("#userAvatar").attr("src",data.Avatar);
            })

             $("#sidebarShow").click(e=>{
                 alert('aa')
                 $( ".sidebar" ).show();
             })


$(function(){
             $("#uploadImage").click(function(e){
        $('#upload').trigger('click');
    })
     $('#upload').change(function(e){
        console.log(e.target.files[0])

        var tgt = e.target || window.event.srcElement,
        files = tgt.files;

        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                document.getElementById("uploadImage").src = fr.result;
            }
            fr.readAsDataURL(files[0]);

            $("#savePic").show();
        }
     });

      $("#savePic").hide();

     $("#savePic").click(e=>{
            var file_data = $('#upload').prop('files')[0];
            var form_data = new FormData();    
            form_data.append('Avatar', file_data);
            $.post({
                url: '/User/ChangeProfileImage', // <-- point to server-side PHP script 
                dataType: 'json',  // <-- what to expect back from the PHP script, if anything
                cache: false,
                contentType: false,
                processData: false,
                data: form_data,                         
                type: 'post',
                success: function(res){
                   console.log(res)
                   Swal.fire(
                     'Bildirim',
                     res.Message,
                    res.IsSuccess ?  'success' : 'error'
                   )
                }
            });
     })
     });
    </script>

    <style>

        @@media only screen and (max-width: 600px) {
            .navbar-mobile {
                overflow: hidden;
                background-color: #7258db;
                position: fixed;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: 10000;
            }

                .navbar-mobile a {
                    float: left;
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-size: 13px;
                    width: 25%;
                }

                    .navbar-mobile a:hover {
                        background:  #007bff;
                        color: white;
                    }

                    .navbar-mobile a.active {
                        background-color: #007bff;
                        color: white;
                    }
        }

        @@media only screen and (min-width: 600px) {
            .navbar-mobile {
                overflow: hidden;
                background-color: #333;
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                visibility: hidden;
            }

        }

    </style>
</head>

<body>

    <div id="ebazar-layout" class="theme-blue">

        <!-- sidebar -->
        <div class="sidebar px-4 py-4 py-md-4 me-0">
            <div class="d-flex flex-column h-100">
                <a href="index.html" class="mb-0 brand-icon">
                    <span class="logo-icon">
                        <i class="bi bi-bag-check-fill fs-4"></i>
                    </span>
                    <span class="logo-text">Diyet Project</span>
                </a>
                <!-- Menu: main ul -->
                <ul class="menu-list menus flex-grow-1 mt-3">
                    @*  <li>
                        <a class="m-link" href="../index.html"><i class="icofont-ui-home"></i><span>Home</span></a>
                        </li>

                        <li>
                        <a class="m-link" href="@Url.Action("Index","Dietitians")">
                        <i class="icofont-ui-home"></i><span>Diyetisyenler</span>
                        </a>
                        </li>

                        <li>
                        <a class="m-link" href="@Url.Action("Portal","Dietitians")">
                        <i class="icofont-ui-home"></i><span>Portal</span>
                        </a>
                        </li>

                        <li>
                        <a class="m-link" href="@Url.Action("Index","Chat")">
                        <i class="icofont-ui-home"></i><span>Sohbet</span>
                        </a>
                        </li>*@

                </ul>
                <!-- Menu: menu collepce btn -->
                <button type="button" class="btn btn-link sidebar-mini-btn text-light">
                    <span class="ms-2"><i class="icofont-bubble-right"></i></span>
                </button>
            </div>
        </div>

        <!-- main body area -->
        <div class="main px-lg-4 px-md-4">

            <!-- Body: Header -->
            <div class="header">
                <nav class="navbar py-4">
                    <div class="container-xxl">

                        <!-- header rightbar icon -->
                        <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1">
                            @*<div class="d-flex">
                                <a class="nav-link text-primary collapsed" href="help.html" title="Get Help">
                                <i class="icofont-info-square fs-5"></i>
                                </a>
                                </div>
                                <div class="dropdown zindex-popover">
                                <a class="nav-link dropdown-toggle pulse" href="#" role="button" data-bs-toggle="dropdown">
                                <img src="~/assets/images/flag/GB.png" alt="">
                                </a>
                                <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-md-end p-0 m-0 mt-3">
                                <div class="card border-0">
                                </div>
                                </div>
                                </div>

                                <div class="dropdown notifications">
                                <a class="nav-link dropdown-toggle pulse" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="icofont-alarm fs-5"></i>
                                <span class="pulse-ring"></span>
                                </a>
                                <div id="NotificationsDiv" class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-md-end p-0 m-0 mt-3">
                                <div class="card border-0 w380">
                                <div class="card-header border-0 p-3">
                                <h5 class="mb-0 font-weight-light d-flex justify-content-between">
                                <span>Notifications</span>
                                <span class="badge text-white">06</span>
                                </h5>
                                </div>
                                <div class="tab-content card-body">
                                <div class="tab-pane fade show active">
                                <ul class="list-unstyled list mb-0">
                                <li class="py-2 mb-1 border-bottom">
                                <a href="javascript:void(0);" class="d-flex">
                                <img class="avatar rounded-circle" src="~/assets/images/xs/avatar1.svg" alt="">
                                <div class="flex-fill ms-2">
                                <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Chloe Walkerr</span> <small>2MIN</small></p>
                                <span class="">Added New Product 2021-07-15 <span class="badge bg-success">Add</span></span>
                                </div>
                                </a>
                                </li>
                                <li class="py-2 mb-1 border-bottom">
                                <a href="javascript:void(0);" class="d-flex">
                                <div class="avatar rounded-circle no-thumbnail">AH</div>
                                <div class="flex-fill ms-2">
                                <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Alan	Hill</span> <small>13MIN</small></p>
                                <span class="">Invoice generator </span>
                                </div>
                                </a>
                                </li>
                                <li class="py-2 mb-1 border-bottom">
                                <a href="javascript:void(0);" class="d-flex">
                                <img class="avatar rounded-circle" src="~/assets/images/xs/avatar3.svg" alt="">
                                <div class="flex-fill ms-2">
                                <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Melanie	Oliver</span> <small>1HR</small></p>
                                <span class="">Orader  Return RT-00004</span>
                                </div>
                                </a>
                                </li>
                                <li class="py-2 mb-1 border-bottom">
                                <a href="javascript:void(0);" class="d-flex">
                                <img class="avatar rounded-circle" src="~/assets/images/xs/avatar5.svg" alt="">
                                <div class="flex-fill ms-2">
                                <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Boris Hart</span> <small>13MIN</small></p>
                                <span class="">Product Order to Toyseller</span>
                                </div>
                                </a>
                                </li>
                                <li class="py-2 mb-1 border-bottom">
                                <a href="javascript:void(0);" class="d-flex">
                                <img class="avatar rounded-circle" src="~/assets/images/xs/avatar6.svg" alt="">
                                <div class="flex-fill ms-2">
                                <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Alan	Lambert</span> <small>1HR</small></p>
                                <span class="">Leave Apply</span>
                                </div>
                                </a>
                                </li>
                                <li class="py-2">
                                <a href="javascript:void(0);" class="d-flex">
                                <img class="avatar rounded-circle" src="~/assets/images/xs/avatar7.svg" alt="">
                                <div class="flex-fill ms-2">
                                <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Zoe Wright</span> <small class="">1DAY</small></p>
                                <span class="">Product Stoke Entry Updated</span>
                                </div>
                                </a>
                                </li>
                                </ul>
                                </div>
                                </div>
                                <a class="card-footer text-center border-top-0" href="#"> View all notifications</a>
                                </div>
                                </div>
                                </div>*@
                            <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover">
                                <div class="mr-2"><!--u-info me-2-->
                                    <p class="mb-0 text-end line-height-sm "><span id="userFullName" class="font-weight-bold"></span></p>
                                    <small id="userEPosta"></small>
                                </div>
                                <a class="nav-link dropdown-toggle pulse p-0" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static">
                                    <img class="avatar lg rounded-circle img-thumbnail" src="~/assets/images/profile_av.svg" id="userAvatar" alt="profile">
                                </a>
                                <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0">
                                    <div class="card border-0 w280">
                                        @*  <div class="card-body pb-0">
                                            <div class="d-flex py-1">
                                            <img class="avatar rounded-circle" src="~/assets/images/profile_av.svg" alt="profile">
                                            <div class="flex-fill ms-3">
                                            <p class="mb-0"><span class="font-weight-bold">John	Quinn</span></p>
                                            <small class="">Johnquinn@gmail.com</small>
                                            </div>
                                            </div>

                                            <div><hr class="dropdown-divider border-dark"></div>
                                            </div>*@
                                        <div class="list-group m-2 ">
                                            <a href="@Url.Action("Logout","Auth")" class="list-group-item list-group-item-action border-0 "><i class="icofont-logout fs-5 me-3"></i>Çıkış</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* <div class="setting ms-2">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#Settingmodal"><i class="icofont-gear-alt fs-5"></i></a>
                                </div>*@
                        </div>

                        <div class="navbar-mobile menus2">
                            
                        </div>

                        <!-- menu toggler -->
                        <button class="navbar-toggler p-0 border-0 menu-toggle order-3" type="button" data-bs-toggle="collapse" data-bs-target="#mainHeader">
                            <span class="fa fa-bars"></span>
                        </button>

                        <!-- main menu Search-->
                        <div class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0 ">
                            <div class="input-group flex-nowrap input-group-lg">
                                @* <input type="search" class="form-control" placeholder="Search" aria-label="search" aria-describedby="addon-wrapping">
                                    <button type="button" class="input-group-text" id="addon-wrapping"><i class="fa fa-search"></i></button>
                                *@
                            </div>
                        </div>

                    </div>
                </nav>
            </div>

            <!-- Body: Body -->
            <div class="body d-flex py-lg-3 py-md-2">
                <div class="container-xxl">
                    @RenderBody()
                </div>
            </div>

        </div>

    </div>

    <!-- Jquery Core Js -->
    <script src="~/assets/bundles/libscripts.bundle.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/assets/js/template.js"></script>


    @if (ViewData["ViewMeessage"] != null)
    {
        <script>

            Toastify({
             text: '@(((ViewMessage)ViewData["ViewMeessage"]).Message)',
             duration: 3000,
             close: true,
             gravity: 'top', // `top` or `bottom`
             position: 'left', // `left`, `center` or `right`
             stopOnFocus: true, // Prevents dismissing of toast on hover
            }).showToast();"

        </script>
    }
    <!-- Jquery Page Js -->
    @*<script src="~/assets/js/template.js"></script>*@

    @RenderSection("Scripts", required: false)
</body>

</html>


